input{
  color: black;
  padding: 0.6em 0.4em;
}

input[type="checkbox"]{
  margin: 0 0.6em;
}

input:not([type="checkbox"]):not([type="submit"]) {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  transition: all 0.3s ease-in;
  &:focus {
    border: 1px solid black;
    border-radius: 5px;
  }
}

input[type="submit"] {
  border:none;
  width: 100%;
  background-color: rgb(32, 122, 240);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  &:hover {
    transform: translate(0, -4px);
  }
}

input[disabled] {
  cursor: not-allowed;
}
