.dashboard-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.favourites,.notifications{
  flex:1;
  overflow-y: auto;
  border-radius:10px ;
  border: 1px solid rgba(0, 0, 0, 0.562);
  
  /* margin: 0.2em; */
}


table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;

}

table thead{
  background-color: rgb(7, 83, 182);
  color: aliceblue;
}

tr,td{
  border:1px solid rgba(0, 0, 0, 0.507);
}

tr:nth-of-type(even){
  background-color: rgb(116, 139, 168);
}